<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：名称空间-->
<mapper namespace="com.wfit.mapper.AboutMapper">

    <update id="updateAboutTitle">
        update qj_blog.about
            set value = #{title}
        where id = 1;
    </update>
    <update id="updateAboutContent">
        update qj_blog.about
        set value = #{content}
        where id = 3;
    </update>
    <update id="updateAboutComment">
        update qj_blog.about
        set value = #{commentEnabled}
        where id = 4;
    </update>
    <update id="updateAboutMusicId">
        update qj_blog.about
        set value = #{musicId}
        where id = 2;
    </update>


    <select id="selectAboutMe" resultType="about">
        select
               id,name_en,value
        from
             qj_blog.about
    </select>
</mapper>